// Add your custom CSS here.
.menu__item:hover {
color: #fff
}
#a-campeonato-brasileiro_ .menu__list {
  display: flex;
  flex-direction: column;
}
#c-5fcc639f69274c73fce250b5 {order: 1}
#c-5fcc627169274c73fce2509b {order: 2}
#c-5fcc63ba69274c73fce250b7 {order: 3;}
#c-5fcc641d69274c73fce250bf {order: 4}
#c-5fcc63d469274c73fce250b9 {
  order: 5
}
#c-5fcc631d69274c73fce250a9 {order: 6;}
#c-5fcc638f69274c73fce250b3 {order: 7;}
#c-5feaaae269274c73fcee8f36 {
  order: 8;
  border-bottom: 1px solid
}

#c-5fcc628669274c73fce2509d {order: 9;}
#c-5fcc629b69274c73fce2509f {order: 10;}
#c-5fcc638169274c73fce250b1 {order: 11;}
#c-5fcc630869274c73fce250a7 {order: 12;}
#c-5fcc62f669274c73fce250a5 {order: 13;}
#c-5fcc62c369274c73fce250a1 {order: 14;}
#c-5fcc625d69274c73fce25099 {
  order: 15
}
#c-5fcc62d269274c73fce250a3 {
  order: 16
}
#c-5fcc63f169274c73fce250bb {
  order: 17
}
#c-5fcc640569274c73fce250bd {
  order: 18
}
.product__production {
  display: none !important;
}

.stamps__league {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

.stamps__league li:not(:last-child), .timer {
  margin-right: 1.5rem;
}
.stamps__league > li {
  padding-right: .5rem;
  min-width: auto;
}
.stamps__league > li {
  min-width: 180px;
  max-width: 180px;
  padding: 1rem 0;
  text-align: center;
}

.stamps__league img {
  max-height: none;
}
.stamps__league li {
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
background-color: #fff;
box-shadow: .0625rem .0625rem .25rem #979798;
}
#col-fav .stamps__league li {
display: flex;
justify-content: center;
align-items: center;
border-radius: 0;
background-color: #fff;
box-shadow: none;
}

@media(min-width: 767px) {
.stamps__league li {
width: 8.7375rem;
height: 8.7375rem;
}
#col-fav .stamps__league li {
width: 12.7375rem;
height: 24.7375rem;
}
#col-fav img {
  max-width: 240px;
}
.footer__stamps__league img {
  max-width: 80px;
}
#col-fav .stamps__league > li {
  min-width: 240px;
  max-width: 300px;
  padding: 1rem 0;
  text-align: center;
}
}
@media(max-width: 767px) {
.stamps__league li {
width: 10.7375rem;
height: 10.7375rem;
}
.footer__stamps__league img {
  max-width: 70px;
}
#col-fav .stamps__league li {
width: 10.7375rem;
height: 12.7375rem;
}
#col-fav img {
  max-width: 135px;
}
#col-fav .stamps__league > li {
  min-width: 135px;
}
}

.footer__stamps__league p {
font-weight: bold;
font-size: 2rem
}

// modal time
#modal-stamps .tabs-container li a { color: #b5b5b5;}#modal-stamps .tabs-container li.active a, #modal-stamps .tabs-container li a:hover { color: #242424 !important;}#modal-stamps .tabs-container li.active, #modal-stamps .tabs-container li:hover { border-bottom: .125rem solid #242424 !important;}#modal-stamps .modal-body { max-width: 52.0625rem; min-width: 18.75rem; background-color: #fff; border-radius: .5rem; padding: 1.5rem 1rem;}#modal-stamps .tabs-container .tabs .tab { padding-bottom: .375rem;}#modal-stamps .tabs-container .tabs .tab:first-child { margin-left: 0;}#modal-stamps .tabs-container li { display: inline-block; flex-grow: 1; text-align: center; text-transform: uppercase; font-size: .9375rem; margin-left: 0.5rem;}#modal-stamps .tabs a { text-decoration: none !important;}#modal-stamps .modal-dialog { max-width: 50%; width: 100%;}#modal-stamps .modal-content { border-radius: 1rem;}#modal-stamps .secondary-selector { display: flex; flex-wrap: wrap;}#modal-stamps .secondary-selector .secondary-selector-item { width: 100px; height: 100px; border-radius: .25rem; margin: 0 .25rem .5rem; background-color: #f5f6f8;}#modal-stamps .secondary-selector .secondary-selector-item a, #modal-stamps .secondary-selector .secondary-selector-item button { display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%; height: 100%; margin: auto; padding: .5rem; cursor: pointer;}#modal-stamps .secondary-selector-item .scrollable-selector-img { width: 100%; height: 100%; max-height: 52px; max-width: 52px; transition: opacity .5s ease-in; border-radius: 0 !important;}#modal-stamps .secondary-selector .secondary-selector-item .secondary-item-name { display: flex; justify-content: center; font-size: .75rem; text-align: center; padding-top: .5rem; line-height: .75rem;}#modal-stamps .tabs-container ul.tabs { list-style: none; cursor: pointer;}#modal-stamps .tabs { padding: 1.25rem 0 0; overflow-x: auto; border-bottom: 1px solid #d5d5d5; margin-bottom: 1.125rem; max-width: calc(100vw - 24px); list-style: none; display: flex; padding: 0 .5rem; cursor: pointer;}#col-leagues .stamps { list-style:none; display:flex; align-items:center; flex-wrap:nowrap; overflow-x:auto; padding:0; margin:0; max-width:100%}#col-leagues .stamps li:not(:last-child),#modal-stamps .timer { margin-right:1.5rem}#col-leagues .stamps>li { padding-right:.5rem; min-width:auto}#col-leagues .stamps>li { min-width:120px; max-width:180px; padding:1rem 0; text-align:center}#col-leagues .stamps img { max-height: 100px}#col-leagues .stamps li { display:flex; justify-content:center; align-items:center; border-radius:100%; background-color:#fff; box-shadow:.0625rem .0625rem .25rem #979798}@media(min-width:767px) {#col-leagues .stamps li { width:9.7375rem; height:9.7375rem } #modal-stamps .footer__stamps img { max-width:80px } #modal-stamps .modal-dialog { max-width: 50%; width: 100%;}}@media(max-width:767px) { #col-leagues .stamps li { width:9.7375rem; height:9.7375rem } #modal-stamps .footer__stamps img { max-width:70px } #modal-stamps .modal-dialog { max-width: 100%; width: 100%; margin: 0 !important;}#modal-stamps .secondary-selector .secondary-selector-item { width:100px; min-width: calc(100%/3 - 8px);}#modal-stamps .secondary-selector-item .scrollable-selector-img { width: auto; height: auto;}}#modal-stamps .footer__stamps p { font-weight:700; font-size:2rem}.modal-header .close {margin-top: -25px !important;}

.login-modal__body span div {
  display: flex;
  flex-direction: column;
}
.login-modal__btn--google {
  order: 1
}
.login-modal__btn--facebook {
  order: 2;
  margin-top: 10px
}
.login-modal__btn--windowslive {
  order: 3
}
.login-modal__btn.btn.btn-block.btn-secondary {
  order: -1
}


